body
{
	margin:auto;
	width:800px;
	background-color:#bbb6b0;
}
header
{
	background-image:url("images/logo.png");
	border-radius:85px;
	background-repeat:no-repeat;
	background-attachment:scroll;
	margin-bottom:70px;
	background-position:center;
	color:#181717;
	font-size:21px;
	padding:50px;
}
/*Quand on clique sur une reertoire du nav :*/
li a.active 
{
    color: blue;
}
li a:hover:not(.active)
{
	color: aqua;
}
div
{
	padding:15px;
	display:inline-block;
}
#logo
{
	margin-left:250px;
}
nav
{
	background-color: grey;
	padding-top:-50px;
	margin-bottom:50px;
	margin-top:-37px;
	box-shadow:10px 10px 10px;
}
#copyright
{
	position:relative;
	text-align:center;
}
h3
{
	text-align:center;
}
em
{
font-family: 'Didot';
}